numpy==1.23 # required by main env 
scipy
pandas
matplotlib
pytorch-ignite
# tensorboard # uncomment if you want to use tensorboard to visualize training progress
tqdm
trimesh
# urdfpy # do not install the original version, install the forked version
urdfpy @ git+https://github.com/SgtVincent/urdfpy.git
cython
scikit-image
pykdtree
open3d
networkx>=2.5 # fix fractions bug for python >= 3.9

# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==1.8.1+cu111 
# torchvision==0.9.1+cu111 
# torchaudio==0.8.1 